<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Productos ejs</title>
</head>
<body>
<% if(list.length == 0) { %>
    <h2>No hay productos para mostrar</h2>
<% } else { %>
    <table style="width: 100%; border: 1;">
        <tr>
            <th>Producto:</th>
            <th>Precio:</th>
            <th>Imagen:</th>
        </tr>
        <% list.forEach((product) => { %>
            <tr>
                <td><%= product.producto%></td>
                <td><%= product.price%></td>
                <td><img src="<%= product.thumbnail%>" style="width: 50px; height: auto;"></td>
            </tr>
        <% }) %>
    </table><br>
<% } %>
      
    <a href="/">Pagina Principal</a>
</body>
</html>